@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #121212; */
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.help-text {
  text-align: center;
  padding: 10px 0;
  display: none;
  transform: 0.4s ease-in-out opacity;
}

.hack-icon {
  width: 42px;
  height: 42px;
  display: block;
  margin: 0 auto;
}

.text {
  display: block;
  font-weight: 500;
  font-size: 14px;
  padding-top: 0.5rem;
  min-width: 300px;
}

#hack-icon {
  background-color: rgba(255, 255, 255, 0.877);
  mask: url("icons/hack.svg") no-repeat center / contain;
  -webkit-mask: url("icons/hack.svg") no-repeat center / contain;
}

.memory-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-container {
  color: white;
  border: 5px solid #35406b;
  background: #24293c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 5px;
  width: auto;
  height: 0;
  display: none;
  transition: 1s ease height;
}

.memory-container {
  height: auto;
}

.memory-wrapper {
  text-align: center;
  margin: 0 auto;
  width: auto;
  display: none;
  transition: 0.7s;
}

.row {
  clear: both;
  display: flex;
}

.box {
  width: 57px;
  height: 57px;
  background: #707070;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 5px;
  transition: 0.3s ease-in-out background;
}

.box-active {
  background: white;
}
